<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}

{#        <script src="{% static "jquery.js" %}"></script>#}
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://fb.me/react-with-addons-0.13.3.js"></script>
        <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>


        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/material-wfont.min.css">
        <link rel="stylesheet" href="/static/material-fullpalette.min.css">

        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/ripples.min.css">
        <script src="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/js/material.min.js"></script>
        <script src="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/js/ripples.min.js"></script>


         <link href="{% static "core.css" %}" rel="stylesheet"/>
         <script src="{% static "base.js" %}"></script>
      <!-- use the font -->
      <style>
        body {
          font-family: 'Roboto', sans-serif;
        }
      </style>
      {% block extra_head %}{% endblock %}
</head>
<body>
{#    <div class="header">#}
{#        <h2 class="title">Project box</h2>#}
{##}
{#        <div class="user">#}
{#            <h1>{{ user.get_username }}</h1>#}
{#        </div>#}
{##}
{#        <div class="boxes">#}
{#            <h1>Boxes</h1>#}
{#        </div>#}
{#    </div>#}

<div class="navbar navbar-default header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Project Box</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        {% if user.is_authenticated and not hide_boxes %}
            <ul class="nav navbar-nav">
                <li id="boxes"><a href="javascript:void(0)">All Boxes</a></li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" class="material-action-serarch"></a></li>
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Settings</a></li>
                        <li id="logout"><a href="javascript:void(0)">Log out</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

    {% if user.is_authenticated %}
        <div class="side-panel panel panel-default">
         <div class="panel-body">
            <h1 class="side-panel-header">Boxes</h1>
            {% load app_filters %}
            {% for o in boxes %}
                <div class="box" id="{{ o|get:"_id" }}">
                    <h1>{{ o.name }}</h1>
                    <h2>{{ o|get:"_data"|length }} items</h2>
                </div>
            {% endfor %}
         </div>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
         <div class="user-panel">
             <div class="user-header">
                  <h1 class="side-panel-header">{{ user.get_username }}</h1>
             </div>
        </div>
    {% endif %}

    {% block content %}

    {% endblock content %}
</body>
</html>