<html>
<head lang="en">

    {% load staticfiles %}
        <link href="/static/js/create.css" rel="stylesheet"/>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/fonts/Material-Design-Icons.woff">
        <link rel="stylesheet" href="/static/css/material-fullpalette.min.css">

        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/css/ripples.min.css">
        <script src="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/js/material.min.js"></script>
        <script src="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/js/ripples.min.js"></script>


         <link href="{% static "core.css" %}" rel="stylesheet"/>
         <script src="{% static "base.js" %}"></script>

    <meta charset="UTF-8">
    <title>
        Login to app
    </title>
</head>
<body>

            {% csrf_token %}
                <div style="background:#404fb8;height:170px;width:100%">

                </div>
                <div class="create-panel panel panel-default">
                    <div>
                        <h1 class="create-line">I want to keep track of <input type="text" id="box-name" /></h1>
                        <div id="container"></div>
                    </div>
                </div>
        <script src="/static/build/create.js"></script>


</body>
</html>