<html>
<head lang="en">

    {% load staticfiles %}
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <!-- Latest compiled and minified CSS -->
        <script>
            var user = "{{ username }}";
        </script>
        <!-- Optional theme -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.3.0/fonts/Material-Design-Icons.woff">


         <link href="{% static "core.css" %}" rel="stylesheet"/>
         <script src="{% static "base.js" %}"></script>
        <link href="/static/index.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>
        Your boxes
    </title>
</head>
<body>

                {% csrf_token %}

                <div style="padding-top:100px">

                    <div id="container" class="">
                        <h1>YOUR BOXES</h1>

                        {% load app_filters %}
                        {% for box in boxes %}
                            <div class="square" style="width:25%;float:left;height: 120px;;position: relative;">
                                <div  id="{{ box|get:"_id" }}" class="big-box " style="background: {{ box.color }}">

                                        <h1 class="big-box-name">{{ box.name }}</h1>
                                        <h1 class="big-box-items">{{ box|get:"_data"|length }} items</h1>

                                </div>
                            </div>
                        {% empty %}
                            <h1 style="text-align:center;width:100%;color:white;">Press to button in the bottom right to add a box :)</h1>
                        {% endfor %}

                        <div class="square-new" style="width:25%;float:left;height: 120px;;position: relative;">
                                <div class="big-box-new">

                                        <h1 class="big-box-name-new">Create new box</h1>

                                </div>
                            </div>
                    </div>
                    <div id="container2"  class="" style="margin-top: 20px">

                        <h1>CONTRIBUTING TO</h1>

                        {% load app_filters %}
                            {% for box in contr_boxes %}
                            <div class="square" style="width:25%;float:left;height: 120px;position: relative;">

                                <div  id="{{ box|get:"_id" }}" class="big-box" style="background: {{ box.color }}">

                                        <h1 class="big-box-name">{{ box.name }}</h1>
                                        <h1 class="big-box-items">{{ box|get:"_data"|length }} items</h1>

                                </div>
                                </div>
                            {% empty %}
                                <h1 style="text-align:center;width:100%;color:white;">You haven't been added to any other boxes</h1>
                            {% endfor %}
                    </div>

                </div>


                <div id="base" style="position: absolute;left:0;right:0;top:0;height:48px;width:100%;">

                </div>
        <script src="/static/build/index.js"></script>

</body>
</html>