{% extends "base.html" %}
<html>
<head lang="en">

    {% load staticfiles %}
    {% block extra_head %}
        <link href="/static/index.css" rel="stylesheet"/>
        <link href="/static/js/lib/bootstrap-tokenfield.min.css" rel="stylesheet"/>
        <script src="/static/index.js" type="text/jsx"></script>
        <script src="/static/js/lib/bootstrap-tokenfield.min.js" type="text/js"></script>
    {% endblock %}
    <meta charset="UTF-8">
    <title>
        Your boxes
    </title>
</head>
<body>
            {% block content %}

                {% csrf_token %}
                <div style="background:#404fb8;height:170px;width:100%;">

                </div>
                <div>
                <div id="container">
                    {% load app_filters %}
                    {% for box in boxes %}
                        <div  id="{{ box|get:"_id" }}" class="big-box ripple-effect panel panel-default">

                                <h1 class="big-box-name">{{ box.name }}</h1>
                                <h1 class="big-box-items">{{ box|get:"_data"|length }} items</h1>

                        </div>

                    {% empty %}
                        <h1 style="text-align:center;width:100%;color:white;">Press to button in the bottom right to add a box :)</h1>
                    {% endfor %}
                </div>

                <br/>
                <h1>You are contributing to</h1>
                <br/>
                <br/>

                <div id="container2">
                    {% load app_filters %}
                        {% for box in contr_boxes %}
                            <div  id="{{ box|get:"_id" }}" class="big-box ripple-effect panel panel-default">

                                    <h1 class="big-box-name">{{ box.name }}</h1>
                                    <h1 class="big-box-items">{{ box|get:"_data"|length }} items</h1>

                            </div>

                        {% empty %}
                            <h1 style="text-align:center;width:100%;color:white;">You haven't been added to any other boxes</h1>
                        {% endfor %}
                </div>

                </div>


                <a id="add-box" href="javascript:void(0)" class="btn btn-info btn-fab btn-raised mdi-content-add"></a>

            {% endblock content %}

</body>
</html>