{% extends "base.html" %}
<html>
<head lang="en">

    {% load staticfiles %}
    {% block extra_head %}
        <link href="/static/index.css" rel="stylesheet"/>
        <script src="/static/index.js" type="text/jsx"></script>
        <script>
        </script>
    {% endblock %}
    <meta charset="UTF-8">
    <title>
        Your boxes
    </title>
</head>
<body>

            {% block content %}

                {% csrf_token %}
                <div style="background:#009688;height:170px;width:100%;">

                </div>
                <div id="container">
                    {% load app_filters %}
                    {% for box in boxes %}
                        <div  id="{{ box|get:"_id" }}" class="box panel panel-default">
                            <h1>{{ box.name }}</h1>
                        </div>
                    {% endfor %}
                </div>
                <a data-toggle="modal" data-target="#create-modal" id="add-box" href="javascript:void(0)" class="btn btn-info btn-fab btn-raised mdi-content-add"></a>
                <div id="create-modal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Create box</h4>
                            </div>
                            <div class="modal-body">
                                <input id="new-box-name" class="form-control floating-label" type="text" placeholder="Box name"/>
                                <div style="margin-top: 20px">
                                    <h1 style="float:left" class="structure-title">Structure</h1>
                                    <a style="float:right" id="add-structure" href="javascript:void(0)" class="btn btn-info btn-raised">Add structure</a>
                                </div>
                                <div id="new-box-structure">

                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button id="create-box" type="button" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}

</body>
</html>