{% extends "base.html" %}
<html>
<head lang="en">

    {% load staticfiles %}
    {% block extra_head %}
        <link href="/static/login.css" rel="stylesheet"/>
        <script src="/static/login.js" type="text/jsx"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


    {% endblock %}
    <meta charset="UTF-8">
    <title>
        Login to app
    </title>
</head>
<body>

            {% csrf_token %}
            {% block content %}
                <div style="background:#404fb8;height:170px;width:100%">

                </div>

                <div class="login-panel panel panel-default">
                    <h1 class="panel-header">EXISTING USER</h1>
                    <div class="form-group">
                        <input id="login-username" class="form-control floating-label" type="text" placeholder="Username or email"/>
                        <input id="login-password" class="form-control floating-label" type="password" placeholder="Password"/>

                        <a id="login" href="javascript:void(0)" class="btn btn-info">Login</a>
                     </div>
                </div>

                <div class="signup-panel panel panel-default">
                    <h1 class="panel-header">NEW USER</h1>
                    <div className="form-group">
                        <input id="signup-username"  class="form-control floating-label" type="text" placeholder="Username or email"/>
                        <input id="signup-password"  class="form-control floating-label" type="password" placeholder="Password"/>
                        <input id="signup-email"  class="form-control floating-label" type="text" placeholder="Email"/>

                        <a id="signup"  href="javascript:void(0)" class="btn btn-info">Sign up</a>
                     </div>
                </div>
            {% endblock content %}

</body>
</html>