

.box-title{
    font-size: 48pt;
    font-family: 'roboto';
    color:#fff;
    position: fixed;
    top: 80px;
    z-index:905;
    width:100%;
    pointer-events: none;
    text-align: center;
}

#container{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    
}

.card{
    border:1px solid lightgray;
    width:300px;
    overflow-y: scroll;
    overflow-x:hidden;
    padding: 20px;

    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);

    border-bottom: 1px solid lightgray;
    border-radius: 5px;
    margin: 15px;
    float:left;
}

.card .mdl-textfield{
    width:100%;
    margin-left: 0px;
}

.mdl-textfield{
    background:#fff;
    margin: 0px;
    float:left;
    display: block;
    /*width: 100%;*/
}

input[type=checkbox]{
    margin-left: 15px;

    position:relative;
    vertical-align: middle;
}

.checkbox-title{
    color:black;
}

label{
    padding-left: 5px;
     display:inline-block;
    vertical-align:middle;
}

.mdl-switch{
    margin: 10px;
}

.user{
    cursor: pointer;
    text-align: center;
}

.user-header{
}

.user-header>h1{
    font-family: roboto;
    font-weight: 200;
    color: #2a7bff;
    text-align: center;
    padding: 20px;
}

#add-item{
    position: fixed;
    right:20px;
    bottom:20px;
}

.form-group , .togglebutton{
    margin-bottom: 30px;
    float:none;
}

.col-lg-10{
    padding: 0px;
    width:100%;
}

select{
    width:100%;
}

.card-bottom{
    background: white;
    width:100%;
    margin-bottom: 15px;
}

.delete-item{
    float:right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.list-enter {
  opacity: 0.01;
}

.list-enter.list-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.list-leave {
  opacity: 1;
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.search{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
    bordeR: none;
    color: white;
    border-bottom: 1px solid white;
}

.box-panel{
    position: fixed;
    right:-350px;
    top:0px;
    bottom:0px;
    z-index:999;
    width: 300px;
    height:100%;
}

body,html,#base{
    height:100%;
}

.username{
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding-top: 0;
    letter-spacing: 0;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    line-height: 48px;
    -webkit-box-flex: 1;
    flex: 1;
    display: inline-block;
}