.big-box{
    float:left;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    padding: 0px;
    transition: transform 0.3s;
    position: absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:1px solid #1d58b1;
    background: #2368d2;
}

.big-box:hover{
    transform: scale(1.1) translateY(-5px);
}

.big-box:active{
    transform: scale(0.8) translateY(-5px);
}

/*.big-box-top{*/
    /*background: rgb(31, 92, 185);*/
    /*border:1px solid #000a44;*/
    /*width:100%;*/
    /*height:40px;*/
    /*transform: skew(-45deg);*/
/*}*/

/*.big-box-right{*/
    /*background: rgb(33, 99, 199);*/
    /*right:0px;*/
    /*top:39px;*/
    /*position: absolute;*/
    /*border:1px solid #000a44;*/
    /*bottom:20px;*/
    /*width:40px;*/
    /*transform: skewY(-45deg);*/
/*}*/

.big-box-name{
    text-align: center;
    color:#fff;
    margin-top: 30px;
}

.big-box-items{
    margin: 0;
    font-size: 10pt;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    background: #1d58b1;
}

#container , #container2{
    max-width: 1000px;
    margin-top: -50px;
    width:100%;
    float:left;
    display: block;
    height:auto;
    position: relative;
    overflow:hidden;
}

h1 {
    font-size: 10pt;
    color:darkslategray;
}

#container>h1 , #container2>h1 {
    font-size: 15pt;
    color:darkslategray;
    text-align: left;
    font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#add-box{
    position: fixed;
    right:20px;
    bottom:20px;
}

.modal{
    height:auto;
}
.modal-body{
    padding-top: 20px!important;
}

#new-box-name{
    width: 250px;
}
#new-box-structure{
    width:100%;
    overflow:scroll;
    height:300px;
}

.structure{
    padding: 10px;
    width: 80%;
    height: auto;
    display: block;
    margin: 20px;
}
.structure-name{
    width:40%;
    margin-left: 5px;
    display:inline-block;
}

.structure-type{
    width:auto;
    margin-left: 5px;
    display:inline-block;
}


.structure-choices{
    width:100%;
    display:block;
}


.control-label-inv{
    opacity: 0;
}

.edit-button{
    display:block;
    float:left;
}